.Interest {
    /* Default grid layout for larger screens */
    grid-template-columns: 1fr;
}

.app {
    height: 100%;
    border: 1px black;
    border-bottom: 2px solid #f9bf3f;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(244, 241, 241, 1);
    position: relative;
    top: -20px;
    padding: 1.2rem;
    /* Adjust margin to be consistent across screens */
    margin-bottom: 0;
    margin-top: 0;
}

/* Responsive for medium-sized screens (1027px and below) */
@media (max-width: 1027px) {
    .Interest {
        grid-template-columns: 1fr; /* Single column layout */
    }
}

/* Responsive for smaller screens (769px and below) */
@media (max-width: 769px) {
    .box {
        text-align: center;
    }

    .Interest {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .app {
        margin-top: 20px;
        height: auto; /* Allow app content to adapt to screen size */
    }
}

/* Responsive for very small screens (392px and below) */
@media (max-width: 392px) {
    .Interest {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .app {
        position: static;
    }
}
